 
<div id="hotelSelection" class="flex p-2 mt-2 gap-2">
    <ng-container  *ngFor="let item of buttons">
        <app-button [isSelected]="isSelected===item" (isSelectedChange)="isSelected=item" (click)="onClick()">{{item}}</app-button>
    </ng-container>
</div>
 
<ng-container *ngIf="isSelected ==='Halkidiki' ">
    <div id="hotelSelection" class="flex items-center  flex-col gap-3">
        <a *ngFor="let item of Halkidiki; index as i" class="flex w-[100%]  items-center  rounded-[5px]" (click)="setSelected(i)" routerLink="/{{isSelected}}/{{item.title}}">
            <div>
                <img class="w-[128px] h-[112px] rounded-l-[10px] object-cover" [src]="item.image" alt="">
            </div>
            <div class="flex items-center bg-gradient-to-r from-white w-[350px] h-[112px] p-6">
                <p class="text-base font-serif font-semibold text-slate-800">{{item.title}}</p>
            </div>
            
        </a>
    </div>
</ng-container>

<ng-container *ngIf="isSelected === 'Hotel Melissanthi'">
    <div id="hotelSelection" class="flex items-center  flex-col gap-3">
        <a *ngFor="let item of Melissanthi; index as i" class="flex w-[100%]  items-center   rounded-[5px]" (click)="setSelected(i)" routerLink="/{{isSelected}}/{{item.title}}">
            <div>
                <img class="w-[128px] h-[112px] rounded-l-[10px] object-cover" [src]="item.image" alt="">
            </div>
            <div class="flex items-center bg-gradient-to-r from-white w-[350px] h-[112px] p-6">
                <p class="text-base font-serif font-semibold text-slate-800">{{item.title}}</p>
            </div>
            
        </a>
    </div>
</ng-container>
<router-outlet></router-outlet>
