<div class="w-100 flex justify-end">
    <div class="">
        <a routerLink="/">
            <img class="w-[142px] h-[80px] rounded-b-[10px]" src="https://firebasestorage.googleapis.com/v0/b/smart-catalog-a2538.appspot.com/o/businesses%2F1590772365806.jpg?alt=media&token=511b3b9c-73af-49fc-8e74-c09f17579888">
        </a>
    </div>
   
     <div class="w-[46%] flex justify-end bg-red-500s">
        <div class="absolute right-10 top-5">
            <img class="w-[70px]" src="{{selectedOption}}">
        </div>
        <!-- <div class="w-[100%]"> -->
            <app-lang-dropdown (optionSelected)="logOption($event)" class="w-[100%] absolute"></app-lang-dropdown>

        <!-- </div> -->


         
          
    </div>
    
</div>
