
<div class="w-100 flex justify-center">
    <div class="w-[100%] flex justify-center"> 
            <img class="w-[142px] h-[80px] rounded-b-[10px]" src="https://firebasestorage.googleapis.com/v0/b/smart-catalog-a2538.appspot.com/o/businesses%2F1590772365806.jpg?alt=media&token=511b3b9c-73af-49fc-8e74-c09f17579888">
      </div> 
      <img src="{{selectedOption}}" class=" w-[65px] h-[35px] absolute top-1 right-1">
            <app-lang-dropdown (optionSelected)="logOption($event)" class="absolute top-1 right-1 w-[65px] h-[35px] "></app-lang-dropdown>  
</div>
