 
<div id="animation" class="flex p-2 mt-2 gap-2">
    <drag-scroll class="w-[100%] pt-2 pb-2">
        <ng-container  *ngFor="let item of buttons; index as i">
            <app-button [isSelected]="isSelected===item" (isSelectedChange)="isSelected=item" (click)="onClick(i)">{{item}}</app-button>
        </ng-container>
    </drag-scroll>
    
</div>
 
<ng-container *ngIf="category">
    <div id="animation" class="flex items-center  flex-col gap-3 overflow-y-auto max-h-[90vh]"> 
            <a *ngFor="let item of category; index as i" class="flex w-[100%]  items-center  rounded-[5px]" (click)="setSelected(i)" routerLink="/{{isSelected}}/{{item.title}}">
                <div>
                    <img class="w-[128px] h-[112px] rounded-l-[10px] object-cover" [src]="item.image" alt="">
                </div>
                <div class="flex flex-col justify-center bg-gradient-to-r from-white w-[350px] h-[112px] p-6">
                    <p class="text-base font-serif font-semibold text-slate-800">{{item.title}}</p>
                    <p *ngIf="item.price" class="text-lg">{{item.price}}</p>
                </div> 
            </a> 
    </div>
</ng-container>

 
